*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px;
  background-color: #151515;
  font-family: "Franklin Gothic Medium" , Arial, Helvetica, sans-serif;
}

h2{
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
  font-size: 46px;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;

}

.card{
  border: 2px solid #d01a1a;
}

button{
  border: none;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent; 
  width: 100%;
  text-align: right;
  
}